-W maintenance.package={{ maintenance_dir }}
-OPT disableNonBlockingPrereqChecking="true"
-OPT rootUserHasRunSlibcleanCommandSuccessfully="true"
-W product.location={{ plg2_install_dir }}
-W update.type="install"
