-W maintenance.package={{ package_dir }}
-OPT disableNonBlockingPrereqChecking="true"
-OPT rootUserHasRunSlibcleanCommandSuccessfully="true"
-W product.location={{ was_install_dir }}
-W update.type="install"
